blis
certifi
chardet
ChatterBot
chatterbot-corpus
click
cymem
Flask
idna
itsdangerous
Jinja2
MarkupSafe
mathparse
murmurhash
nltk
Corpora
numpy
Pint
plac
preshed
pymongo
python-dateutil
pytz
PyYAML
requests
six
spacy
SQLAlchemy
srsly
thinc
tqdm
urllib3
wasabi
Werkzeug
stopwords
wordnet
