blis
certifi
chardet
ChatterBot
chatterbot-corpus
click
cymem
Flask
idna
itsdangerous
Jinja2
MarkupSafe
mathparse
murmurhash
nltk
Corpora
numpy
Pint
plac
preshed
pymongo
python-dateutil==2.7
pytz
PyYAML==3.12

requests
six
spacy==2.1
SQLAlchemy==1.2
srsly
thinc
tqdm
urllib3
wasabi
Werkzeug
stopwords
wordnet
